html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.user-form {
    height: 100%;
    background-color: #f9f4ff;
}

header {
    padding-top: 15px;
    height: 80px;
    background-color: #c68eff;
}

header a {
    color: #f9f4ff;
    font-size: 40px;
}

.main {
    padding: 30px 20px;
    height: 400px;
}

footer {
    padding-top: 30px;
    height: 100%;
    background-color: #c68eff;
    text-align: center;

}
